<mat-grid-list cols="3">
    <h1 class="title">{{title}}</h1>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <table mat-table [dataSource]="dataSource">

                <!-- Position Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef> Code </th>
                    <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="latitude">
                    <th mat-header-cell *matHeaderCellDef> Latitude </th>
                    <td mat-cell *matCellDef="let element"> {{element.latitude}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="longitude">
                    <th mat-header-cell *matHeaderCellDef> Longitude </th>
                    <td mat-cell *matCellDef="let element"> {{element.longitude}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
<h1 class="title">Cadastro de novo talhão</h1>
<mat-card>
    <mat-grid-list cols="4">
        <mat-grid-tile>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Code</mat-label>
                <input matInput placeholder="code" [formControl]="codeControl">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Latitude</mat-label>
                <input matInput placeholder="latitude" [formControl]="latitudeControl">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Longitude</mat-label>
                <input matInput placeholder="longitude" [formControl]="longitudeControl">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-fab color="primary" (click)="createField()">
                <mat-icon>add</mat-icon>
            </button>
        </mat-grid-tile>
    </mat-grid-list>
</mat-card>
<h1 class="title">Localização dos Talhões</h1>
<mat-grid-list cols="4">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field appearance="outline">
            <mat-label>Talhões</mat-label>
            <mat-select [formControl]="fieldsToSeeControl" multiple>
                <mat-option *ngFor="let field of fields" [value]="field.id">
                    {{field.code}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile> <button mat-fab color="accent" (click)="showFieldsInMap()" class="eye-button">
            <mat-icon>remove_red_eye</mat-icon>
        </button></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
</mat-grid-list>



<mat-card *ngIf="!!lat">
    <agm-map [latitude]="lat" [zoom]="15" [longitude]="lng">
        <agm-marker *ngFor="let field of fieldsToSee" [latitude]="field.latitude" [longitude]="field.longitude" [label]="{color: '#000000',
		fontWeight: 'bold',text: field.code}">
        </agm-marker>
    </agm-map>
</mat-card>

<router-outlet></router-outlet>